.createNewScenarioModal{
  height: 1px;
  border: 1px solid black;

}

.root {
  height: 300px;
  flexGrow: 1;
  minWidth: 300;
  transform: translateZ(0);
  /*@media all and (-ms-high-contrast: none) {*/
  /*  display: none;*/
  /*}*/
}

.modal {
  display: flex;
  /*padding: theme.spacing(1);*/
  alignItems: center;
  justifyContent: center;
}

.paper {
  width: 400px;
  /*backgroundColor: theme.palette.background.paper;*/
  border: 2px solid #000;
  /*boxShadow: theme.shadows[5];*/
  /*padding: theme.spacing(2, 4, 3);*/
}