.cover {
  border: 1px solid black;
  text-align: center;
  padding: 5vh 5vw;
}

.Cover {
  border: 1px solid black;
  text-align: center;
  padding: 5vh 5vw;
  background: #61dafb;
}

.card-main {
  margin-top: 3vh;
  padding: 4vh 4vh;
}