.txt-field {
  width: 60%;

}

.textarea {
  height: 80px;
  margin-left: 5px;
  margin-top: 5px;
}

.button {
  height: 20px;
  margin-left: 5px;
}

.add {
  background-color: lightblue;
}

.main-div {
  margin-top: 20px;
  background-color: lightgoldenrodyellow;
}

.option-div {
  display: inline;
  //width: 95%;
  height: 25px;
}

.footer {
  display: inline-block;
  text-align: right;
  margin-bottom: 5px;
  margin-top: 5px;
}

.text-btn {
  width: 60%;
}

.edit-btn {
  background-color: cornflowerblue;
}

.delete-btn {
  background-color: red;
}

.cancel-btn{
  background-color: red;
}

.next-btn {
   background-color: greenyellow;
 }

.save-btn {
  background-color: greenyellow;
}