.txt-field {
  width: 70%;

}

.textarea {
  height: 80px;
  margin-left: 5px;
  margin-top: 5px;
}

.button {
  height: 20px;
  margin-left: 5px;
}

.add {
  background-color: lightblue;
}

.main-div {
  width: 40%;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  background-color: lightgoldenrodyellow;
}

.option-div {
  display: inline-block;
  width: 85%;
  height: 25px;
}

.footer {
  display: inline-block;
  text-align: right;
  margin-bottom: 5px;
  margin-top: 5px;
}

.edit-btn {
  background-color: cornflowerblue;
}

.delete-btn {
  background-color: red;
}

.cancel-btn{
  background-color: red;
}

.next-btn {
   background-color: greenyellow;
 }

.save-btn {
  background-color: greenyellow;
}