.modal-text {
  //background-color: white;
  width: 400px;
  margin-left: 10px;
}

.modal-main-div {
  position: absolute;
  width: 600px;
  background-color: lightgoldenrodyellow;
  border: 2px solid #000;
  margin: 150px;
  padding: 10px;
}